@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Outfit:wght@201&display=swap');

:root {
    --fonte-padrao: 'Golos Text'; /* Removi o til para evitar erro de leitura no código */
    --fonte-secundaria: 'Outfit';
    --cor01: rgb(36, 32, 32);
    --cor02: rgb(230, 229, 229);
    --cor03: rgb(32, 32, 163);
    --cor04: rgb(108, 108, 227);
    --cor05: rgb(210, 160, 67);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-padrao);
    font-weight: 200;
}

h1, h2 {
    font-weight: 500;
}

header {
    background-color: var(--cor03); 
    color: var(--cor02); 
    padding: 40px 20px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 3rem;
    color: var(--cor02);
    margin-bottom: -10px; 
    letter-spacing: 2px;
}

header h2 {
    font-size: 1.5rem;
    color: var(--cor05); 
    font-weight: 300;
}

header nav {
    display: flex;
    gap: 30px; 
    margin: 15px 0;
}

header nav a {
    color: var(--cor02);
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 8px; 
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
    transition: all 0.3s ease;
}

header nav a:hover, header nav a.active {
    color: var(--cor05);
    border-bottom: 3px solid var(--cor05);
}

.caixa-pesquisa {
    display: flex;
    width: 100%;
    max-width: 500px;
}

.caixa-pesquisa input {
    flex: 1;
    padding: 12px 20px;
    border: none;
    border-radius: 25px 0 0 25px;
    outline: none;
    font-family: var(--fonte-padrao);
    font-size: 1rem;
}

.caixa-pesquisa button {
    padding: 12px 25px;
    background-color: var(--cor05);
    color: var(--cor01); 
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    font-size: 1.1rem;
    transition: filter 0.3s ease;
}

main {
    background-color: var(--cor02);
    padding: 20px 0;
}

.pacotes {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 80px;
}

.pacotes h1 {
    font-family: var(--fonte-padrao);
    color: var(--cor03);
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.pacotes h1 strong {
    color: var(--cor05);
}

.carrossel-container {
    position: relative;
    width: 100%;
}

.carrossel-img {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    padding: 10px 0;
}

.item-pacote {
    flex: 0 0 calc(33.333% - 14px);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 0.5s ease;
}

.item-pacote:hover {
    background-color: var(--cor05);
    transition: 0.5s ease;
}

.item-pacote img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.item-pacote p {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    color: var(--cor01);
    font-family: var(--fonte-secundaria);
}

.item-pacote {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.item-pacote img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.info-pacote {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}

.info-pacote h3 {
    font-family: var(--fonte-padrao);
    font-size: 1.3rem;
    color: var(--cor01);
    font-weight: 600;
    margin-top: 10px;
}

.subtitulo {
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    color: #666;
}

.detalhe {
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    color: var(--cor01);
}

.bloco-preco {
    display: flex;
    flex-direction: column;
}

.texto-pequeno {
    font-family: var(--fonte-secundaria);
    font-size: 0.8rem;
    color: #666;
    margin-bottom: -5px;
}

.valor {
    font-family: var(--fonte-padrao);
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--cor01);
}


.parcelamento {
    border-top: 1px solid var(--cor02); 
    padding: 15px;
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--cor01);
    margin-top: auto;
}

.seta {
   position: absolute;
    top: 125px;
    transform: translateY(-50%);
    background-color: var(--cor03);
    color: white;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}

.seta:hover {
    background-color: var(--cor05);
    color: var(--cor03);
}

.anterior {
    left: -25px;
}

.proximo {
    right: -25px;
}

footer {
    background-color: var(--cor03);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cor02);
    font-family: var(--fonte-secundaria);
}

footer h1 {
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: 400;
}

footer p {
    font-size: 0.8em;
}